body {
  /*얘를 안해주면 navbar백에 색을 넣으면 양쪽에 애매하게 공간이 남.*/
  margin: 0px;
}
a {
  text-decoration: none;
  color: aliceblue;
}
.navbar {
  display: flex;
  /*아이템들을 서로 간격을 가지고 정렬되는 것. 첫과 끝은 딱 붙음.*/
  justify-content: space-between;
  /*수직선 기준 중간에 두고싶을때 쓰는 것*/
  align-items: center;
  background-color: thistle;
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: aliceblue;
}

.navbar_logo i {
  color: cadetblue;
}

.navbar_menu {
  display: flex;
  list-style: none;
  /*로과와 소셜사이의 완전한 중간이 되기위해서는 왼쪽에 있던 패딩을 
  없애줘야 메뉴들이 완벽하게 가운데에 온다.*/
  padding-left: 0;
}

.navbar_menu li {
  /*패딩을 넣어줘야 클릭할 수 있는 범위가 넓어짐. 마진을 넣으면 작아짐.*/
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: cadetblue;
  border-radius: 5px;
}

.navbar_social {
  display: flex;
  list-style: none;
  color: aliceblue;
}

.navbar_social li {
  padding: 8px 12px;
}

.navbar_toogleBtn {
  /* 포지션앱솔루트, 이걸 해줘야 햄버거아이콘이 위로 올라감. */
  position: absolute;
  right: 32px;
  color: cadetblue;
  font-size: 24px;
  display: none;
}

/*반응형을 만들기 위해 필요한 것.*/
@media screen and (max-width: 768px) {
  /* flex-direction을 써768px이하가 되면 nav들이 colum으로 바뀜. */
  .navbar {
    flex-direction: column;
    /* align아이템의 fs를 이용해 왼쪽정렬느낌냄. */
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;

    /* align아이템만 쓰면 가운데 정렬안됨. why? 메뉴 자체 너비가 작기때문에 -> 너비를 100%로 설정해준다. */
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    /* 너비가 넓어지면 왼쪽정렬이 됨. 가운데 정렬을 원할시 text-align을 써준다. */
    width: 100%;
    text-align: center;
  }

  .navbar_social {
    justify-content: center;
    width: 100%;
    padding: 0;
    display: none;
  }

  .navbar_toogleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_social.active {
    display: flex;
  }
}
